/*
Styling for <Carousel />. A slightly, modified version from
Kevin Powell @ https://www.youtube.com/watch?v=VYsVOamdB0g
Thanks again for the tutorial!

author: derek663@gmail.com
last_updated: 12/26/2020
*/

@import "~react-image-gallery/styles/css/image-gallery.css";

html, body{
	width: 100%;
    height: 100%;
    background-color: black;
}


.image-gallery-slide img {
    width: 100%;
    height: 25%;
}

.image-gallery-image{
    filter: grayscale(100%);
    object-fit: cover !important;
}